<div layout="column" layout-align="center center" layout-align-gt-xs="start start" flex-xs>
    <div ng-show="wiz.tela === 1">
    <md-datepicker ng-model="dia" md-placeholder="Quando?"></md-datepicker>
    </div>

    <div ng-show="wiz.tela === 2">
        <md-input-container class="md-icon-float md-block" flex-xs>
            <label>O que?</label>
            <input ng-model="descricao">
        </md-input-container>   
    </div>

    <div ng-show="wiz.tela === 3">
        <md-input-container class="md-icon-float md-block">
            <label>Quanto?</label>
            <input id="valor" 
                    ng-model="valor" 
                    ng-class="utils.classDinheiro(valor)" 
                    type="number" 
                    min="0"
                    step="0.01"
                    size="5">
        </md-input-container>   
    </div>

    <div ng-show="wiz.tela === 4">
        <md-input-container style="margin-right: 10px; min-width: 10em" >
            <label>Pago como?</label>
            <md-select ng-model="conta" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-value="conta" ng-repeat="conta in contas">{{conta.nome}}</md-option>
            </md-select>
        </md-input-container>        
    </div>

    <div ng-show="wiz.tela === -1">
        <h2>Gasto criado com sucesso</h2>
        <p>Pago {{descricao}} de {{valorFinal|real}} com {{conta.nome}} 
           em {{dia|date:dd/MM/yyyy}}.</p>
    </div>

</div>
<div layout="row">
    <md-button ng-click="wiz.prev()" flex-xs="50"
                ng-disabled="wiz.tela ===1"
                ng-if="wiz.tela >= 1"
                title="Anterior"
                aria-label="Anterior"
                class="md-raised md-primary" >
        <md-icon md-svg-icon="img/svg/arrow-bold-left.svg"></md-icon>Anterior
    </md-button>        

    <md-button ng-click="wiz.next()" flex-xs="50"
                ng-if="!wiz.isUltimaTela() && wiz.tela >= 1"
                title="Próxima"
                aria-label="Próxima"
                class="md-raised md-primary">Próxima
        <md-icon md-svg-icon="img/svg/arrow-bold-right.svg"></md-icon>
    </md-button>        

    <md-button ng-click="wiz.fim()" flex-xs="50"
                ng-if="wiz.isUltimaTela()"
                ng-disabled="!conta"
                title="OK"
                aria-label="OK"
                class="md-raised md-primary">
        <md-icon md-svg-icon="img/svg/checkmark.svg"></md-icon>Salvar
    </md-button>        

    <md-button ng-click="wiz.zerar()" flex-xs="50"
                ng-if="wiz.tela === -1"
                title="Mais um gasto..."
                aria-label="Mais um gasto..."
                class="md-raised md-primary">
        <md-icon md-svg-icon="img/svg/file-empty.svg"></md-icon>Mais um gasto...
    </md-button>
</div>