body{
   font-size: 10pt;
   margin-left:0.5em;
   margin-top: 0;
   background-color: #F1F1F1;
}

a{
  color:black;
}

h1{
   margin: 0.2em 0.2em;
}
fieldset{
  margin: 0.5em 0;
}

input[type='date']{
   width:9em;
   border-width:0;
   margin: 1px;
}

input[type='date']:hover{
   font-style: italic;
   margin: 0px;
   border-width: 1px;
   border-style: solid;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


fieldset
{
  background-color:#CCC;
  max-width:40em;
  padding:1em;	
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;	
}

legend{
  margin-bottom:0;
  margin-left:1em;
}


ul{
padding:0;
}

li{
  list-style-type:none;
}

td.dinheiro{
  text-align: right;
}

.dinheiro.positivo{
    color:green;
}

.dinheiro.negativo{
    color:red;
}

table.extrato {
   border-style: none;
   width: 30em;
}

table.extrato a{
   text-decoration:none;
   display: inline-block;
   height:100%;
   width:100%;
}

table.extrato > thead {
   border-bottom: 1px solid #003E3E;
   color: #003E3E;
   text-align:right;
}
table.extrato > thead > tr > th:first-child{
   text-align:left;
}

table.extrato > tbody > tr{
   border-bottom: 1px solid #008484;
}

table.extrato > tbody > tr:hover{
  background-color: #E8E8E8;  
}
