<h1 editable-text="conta.nome" buttons="no">{{conta.nome}}</h1>

<p> <img src="img/16/backward.png" ng-click="navBack()" alt="Mais antigos" class="acao">
    De {{extrato.inicio|date:"dd/MM/yyyy"}} até {{extrato.fim|date:"dd/MM/yyyy"}}
    <img src="img/16/forward.png" ng-click="navForward()" alt="Mais novos" class="acao">
</p>

<table class="extrato">
  <thead>
    <tr>
        <th>Data</th>
        <th>O que</th>
        <th>Quanto</th>
        <th>Saldo</th>
        
    </tr>
  </thead>

  <tbody>
      <tr>
          <td></td>
          <td class="complementar">Saldo em {{extrato.inicio|date:"dd/MM/yyyy"}}</td>
          <td></td>
          <td ng-class="utils.classDinheiro(extrato.saldoIncial)" class="complementar">{{extrato.saldoIncial|real}}</td>
      </tr>
    <tr ng-repeat="fato in extrato.fatos" abd-link="fatos/{{fato.id}}">
        <td style="height: 2em;"><a href="#/fatos?dia={{fato.dia}}">{{fato.dia|date:"dd/MM/yyyy"}}</a></td>
        <td><a href="#/fatos/{{fato.id}}">{{fato.desc}}</a></td>
        <td ng-class="utils.classDinheiro(fato.valor)">{{fato.valor|real}}</td>
        <td ng-class="utils.classDinheiro(fato.saldo)" class="complementar">{{fato.saldo|real}}</td>
    </tr>
  </tbody>
</table>

<button ng-show="nomeOriginal != conta.nome" ng-click="alterarConta()">Salvar</button>