<div layout="column" ng-cloak>
    <md-toolbar style="position: fixed;" ng-include="'menu.html'" onload="menuTitle='Contas'">
    </md-toolbar>    
    <md-content flex layout-padding style="margin-top:3em;">

    <ul>
        <li ng-repeat="contaDetalhada in contas" ng-class="classe(contaDetalhada)">
              <img src="img/16/bin.png" ng-click="removerConta(contaDetalhada.conta)"/> 
              <a href="#/contas/{{contaDetalhada.conta.id}}">{{contaDetalhada.conta.nome}}</a>          
              <span ng-class="utils.classDinheiro(contaDetalhada.saldo)">{{contaDetalhada.saldo|real}}</span>
       </li>
    </ul>

    </md-content>
</div>