<h1 editable-text="conta.nome" buttons="no">{{conta.nome}}</h1>

<table>
  <thead>
    <th>Data</th>
    <th>O que</th>
    <th>Quanto</th>
  </thead>

  <tbody>
    <tr ng-repeat="lancamento in lancamentos">
        <td><a href="#/fatos?dia={{lancamento.fato.dia}}">{{lancamento.fato.dia|data}}</a></td>
        <td><a href="#/fatos/{{lancamento.fato.id}}">{{lancamento.fato.descricao}}</a></td>
        <td ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}</td>
    </tr>
  </tbody>
</table>

<button ng-show="nomeOriginal != conta.nome" ng-click="alterarConta()">Salvar</button>


