<h1 ng-show="!movimentacao.descricao">Nova Movimentação</h1>
<h1 ng-show="movimentacao.descricao">{{movimentacao.dia|data}} - {{movimentacao.descricao}}
<span ng-class="utils.classDinheiro(total)" ng-show="total != 0">{{total|real}}</span>
<span ng-show="movimentacao.id">&#10004;</span>
</h1>

<p class="msg">{{mensagem.txt}}</p>

<fieldset>
<input id="dia" type="date" ng-model="movimentacao.dia" required>
<input ng-model="movimentacao.descricao" id="descricao">
</fieldset>

<fieldset>
<legend>Lançamentos</legend>
<label for="conta">Conta:</label>
<select ng-model="conta" id="conta" ng-options="conta.nome for conta in contas track by conta.id"></select>


<label for="valor">Valor:</label>
<input id="valor" ng-model="valor">

<button ng-click="adicionarLancamento()" ng-disabled="!valor || !conta">+</button>


<table class="extrato">
  <thead>
    <th>Onde</th>
    <th>Quanto</th>
  </thead>

  <tbody>
    <tr ng-repeat="lancamento in lancamentos">
        <td><a href ng-click="editarLancamento(lancamento)">{{lancamento.conta.nome}}</a></td>
        <td ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}
        <span ng-show="lancamento.id">&#10004;</span>
        </td>
    </tr>
  </tbody>
</table>


</fieldset>

<button ng-click="adicionarMovimentacao()">Adicionar</button>
<ng-include
  src="'movimentacoes/listaMovimentacoes.html'">
</ng-include>


<ul ng-show="lancamentos.length != 0">
<li ng-repeat="lancamento in lancamentos" 
    ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}} <a href ng-click="editarLancamento(lancamento)">{{lancamento.conta.nome}}</a>
   <span ng-show="lancamento.id">&#10004;</span>
</li>
</ul>

