<h1>{{fato.dia|data}} - {{fato.descricao}}</h1>


<table class="extrato">
  <col style="width:5%"/>
  <col>
  <col>
  <thead>
    <th />
    <th>Onde</th>
    <th>Quanto</th>
  </thead>

  <tbody>
    <tr ng-repeat="lancamento in lancamentos" ng-click="">
        <td><img src="img/16/bin.png" ng-click="removerLancamento(lancamento)"/></td>
        <td><a href="#/contas/{{lancamento.conta.id}}" 
            title={{lancamento.conta.nome}}
            >{{lancamento.conta.nome}}</a></td>
        <td ng-class="utils.classDinheiro(lancamento.valor)"
            ><a href="#/contas/{{lancamento.conta.id}}" 
            title={{lancamento.conta.nome}}
            >{{lancamento.valor|real}}</a></td>
    </tr>
  </tbody>
</table>

<!--ul>
<li ng-repeat="lancamento in lancamentos">
    <span ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}</span> - <a href="#/contas/{{lancamento.conta.id}}">{{lancamento.conta.nome}}</a> 
</li>
    
</ul-->
