body{
   font-size: 10pt;
   margin-left:0.5em;
   margin-top: 0;
   background-color: #F1F1F1;
   width: 30em;
}

a{
  color:black;
}

h1{
   margin: 0.2em 0.2em;
   font-size: 1.2em;
}

h1 > img:first-child{
    margin: 0 0.2em 0 0;
    opacity: 0.2;
}

h1 > img:first-child:hover {
    opacity: 1;
}


input[type='date']{
   width:9em;
   border-width:0;
   margin: 1px;
}

input[type='date']:hover{
   font-style: italic;
   margin: 0px;
   border-width: 1px;
   border-style: solid;
}

input[type='date']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input.inline[type='text'],
input.inline[type='date']{
    border:inherit;    
    background-color: transparent;
}

input.inline[type='text']:hover,
input.inline[type='text']:focus{
   border-style: none none dashed none;
   border-color: transparent;
   border-width: 1px;
   border-bottom-color: black;
   background-color: transparent;
}

legend{
  margin-bottom:0;
  margin-left:0.2em;
}

ul{
  padding:0;
}

li > ul{
  margin:0 0 1em 1em;
}

li{
  list-style-type:none;
}

.dinheiro{
  content: "R$";
}

td.dinheiro, input.dinheiro, div.dinheiro{
  text-align: right;
  min-width: 6.5em;
}

li.irrelevante, li.irrelevante > a{
    color:#AAA;
}

span.dinheiro.positivo, 
p.dinheiro.positivo,
a.dinheiro.positivo,
td.dinheiro.positivo {
    color:green;
}

span.dinheiro.negativo,
p.dinheiro.negativo,
a.dinheiro.negativo,
td.dinheiro.negativo {
    color:#a00;
}

span.dinheiro.errado,
p.dinheiro.errado,
a.dinheiro.errado,
td.dinheiro.errado
 {
   color:red;
}

span.data{
    text-transform: capitalize;
}


table.extrato{
     background: linear-gradient(to bottom right, #ddd, #efefef);
     margin: 0.5em 0;
     padding:1em;
     max-width:40em;
     -moz-border-radius:0.5em;
     -webkit-border-radius:0.5em;
     border-style: none;
     width: 30em;
}

table.extrato td {
    vertical-align: middle;
}

table.extrato td:first-child{
    border-right: 1px solid #008484;
}

table.extrato td:first-child + td{
    padding-left: 0.2em;
}


fieldset {
  margin: 0.5em 0;
  padding:1em;	
  border: 1px solid #333;
  border-radius: 10px;
}

legend {
    font-weight: bold;
    margin: 0;
    padding: 0 0.4em;
}
table.extrato a{
   text-decoration:none;
   display: inline-block;
   width:100%;
}

table.extrato > thead {
   border-bottom: 1px solid #003E3E;
   color: #003E3E;
   text-align:right;
}
table.extrato > thead > tr > th{
   text-align:left;
}

table.extrato > tfoot > tr > td,
table.extrato > thead > tr > th:last-child,
table.extrato > tbody > tr > td:last-child {
   text-align:right;
}

table.extrato > tbody > tr{
   border-bottom: 1px solid #008484;
}

table.extrato > tbody > tr:last-child{
   border-bottom: 0px none #000;

}

table.extrato > tbody > tr:hover{
  background-color: #E8E8E8;  
}


button.mainButton {
  background-color: #666;
  color: #efefef;
  border-width:0;
  padding: 1em 1.5em;
  -moz-border-radius:0.4em;
  -webkit-border-radius:0.4em;
}

button.mainButton:hover{
  background-color: #AAA;
  color: #dfdfdf;
}

button.botaozinho{
  padding: 0.1em 0.6em;
}

button.mainButton img{
   margin-right: 1em;
}

button.botaozinho img{
    margin: 0;
}

img.acao{
    cursor: pointer;
}

.msg{
   width: 40em;
   background-color: #fefefe;
   color: red;
   padding: 0.1em 0;
   text-align:center;
   margin: 1em 4em 1em 1em;
  -moz-border-radius:0.4em;
  -webkit-border-radius:0.4em;	

}


.msg > img {
  margin: 0 0.5em;
  float: right;
} 


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    width: 100%;
    z-index: 1; 
}


ul.nav li {
    float: left;
    margin: 0;
    vertical-align: middle;
    height: 2em;
    padding: 0 0.5em;
}

ul.nav li:first-child{
    padding-left : 0;
}
ul.nav li:last-child{
    padding-right: 0;
}

ul.nav li a:link, ul.nav li a:visited {
    display: block;
    font-weight: bold;
    color: inherit;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.nav li:hover, ul.nav li a:active {
    background-color: #000;
    color: #eee;
}

#main{
    margin-top: 2.5em;
}


tr.deletado td {
    background-color: red;
    
}

tr.deletado a {
    text-decoration: line-through;
}

table.extrato.desabilitado {
    opacity: 0.2;
}

h1.alterado{
    font-style: italic; 
}

#exitMenu{
    background-image: url('img/16/exit.png');
    background-position:  center center;
    background-repeat: no-repeat;
    min-width: 3em;
}
#exitMenu:hover{
    background-image: url('img/neg/16/exit.png');
}

#exitMenu a{
    width: 100%;
    height: 100%;
}


.complementar{
    font-size: 0.7em;
    opacity: 0.7;
}