<!DOCTYPE html>
<html ng-app="gastosoApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Gastoso</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
<link rel="stylesheet" href="css/xeditable-gastoso.css">
<link rel="stylesheet" href="css/gastoso.css">
<link rel="icon" type="image/png" href="img/16/coin-dollar.png" />
</head>
<body layout="row" ng-cloak layout-fill >
    
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" id="menu">
      <md-toolbar>
          <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-list ng-click="toggleMenu()">
        <md-list-item aria-label="Gasto" 
                 href="#gasto">
            <md-icon md-svg-src="img/svg/money-fly.svg"></md-icon>Gasto
        </md-list-item>
        <md-list-item aria-label="Transferência" 
                 href="#transferencia">
            <md-icon md-svg-src="img/svg/transfer.svg"></md-icon> Tranferência
        </md-list-item>
        <md-list-item aria-label="Fatos" 
                 href="#fatos">
            <md-icon md-svg-src="img/svg/calendar.svg"></md-icon> Fatos
        </md-list-item>
        <md-list-item aria-label="Contas" 
                 href="#contas">
            <md-icon md-svg-src="img/svg/safe.svg"></md-icon> Contas
        </md-list-item>
        <md-list-item aria-label="Nova Conta" 
                 href="#novaConta">
            <md-icon md-svg-src="img/svg/file-empty.svg"></md-icon> Nova Conta
        </md-list-item>
        <md-list-item aria-label="Novo Fato"
                 href="#novoFato">
            <md-icon md-svg-src="img/svg/coins.svg"></md-icon> Novo Fato
        </md-list-item>
        <md-list-item aria-label="Logout" ng-click="logout()"
                 href="#/login">
            <md-icon md-svg-src="img/svg/exit.svg"></md-icon> Sair
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex>
        <md-toolbar style="padding: 0; position: fixed">
            <h3 style="margin: 0.2em 0 0 0; text-transform: capitalize;" flex>
            <md-button aria-label="Menu" class="md-fab md-raised md-mini"
                     ng-click="toggleMenu()">
                <md-icon md-svg-src="img/svg/menu.svg"></md-icon>
                <md-tooltip md-autohide="false">Menu</md-tooltip>
            </md-button>
            {{title}}</h3>
        </md-toolbar>
      
        <div flex  class="md-padding" ng-view style="margin-top: 3.2em;"></div>
    </md-content>
    
    
<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="gastoso.js"></script>
<script src="auth.js"></script>
<script src="contas/contas.js"></script>
<script src="fatos/fatos.js"></script>
<script src="movimentacao/movimentacao.js"></script>
    
</body>
</html>