<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="gastosoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="gastosoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="gastosoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-BR" ng-app="gastosoApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gastoso</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <!--link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"-->
  <link rel="stylesheet" href="xeditable-gastoso.css">
  <link rel="stylesheet" href="gastoso.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div ng-if="!isLoggedIn" ng-controller="LoginCtrl">
        <fieldset style="border-style: double; border-width: 1px; width:15em;">
          <legend>Password</legend>
          <input ng-model="password" size="15" type="password" 
                 ng-keyup="$event.keyCode == 13 && login()"/>
          <button ng-click="login()" ><img src="img/16/enter.png" alt="Logar"></button>
          <p ng-bind="loginErrorMsg"></p>
        </fieldset>
    </div>
  
  <div ng-if="isLoggedIn" ng-controller="LoginCtrl">
  <ul class="nav">
    <li><a href="#contas">Contas</a></li>
    <li><a href="#fatos">Fatos</a></li>
    <li><a href="#novaConta">Nova Conta</a></li>
    <li><a href="#novoFato">Novo Fato</a></li>
    <li><img src="img/16/exit.png" alt="Sair" ng-click="logout()"></li>
  </ul>
  
  <div ng-view></div>
  </div>
        
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
  <script src="gastoso.js"></script>
  <script src="contas/contas.js"></script>
  <script src="fatos/fatos.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
</body>
</html>
