<div layout="column" layout-align="center center">
    <md-icon md-svg-src="img/svg/coin-dollar.svg" style="width:128px; height: 128px"></md-icon>
    <h1>Gastoso</h1>
<md-input-container class="md-block">
        <label>Password</label>
        <input ng-model="password"  type="password" autofocus
                ng-keyup="$event.keyCode == 13 && login()">
        <div ng-show="loginErrorMsg || loginMsg" style="font-size: small">
            <span style="color:red" ng-show="loginErrorMsg">{{loginErrorMsg}}</span>
            <span  ng-show="loginMsg">{{loginMsg}}</span>
        </div>
</md-input-container>    

<md-button class="md-raised md-primary"
           ng-click="login()" 
           ng-disabled="!password">Entrar</md-button>
</div>     
