<md-list>
    <md-list-item class="md-2-line" 
                  ng-repeat="contaDetalhada in contas" 
                  ng-href="#/contas/{{contaDetalhada.conta.id}}">
        <div class="md-list-item-text">
            <h3>{{contaDetalhada.conta.nome}}</h3>
            <p><span ng-class="utils.classDinheiro(contaDetalhada.saldo)">{{contaDetalhada.saldo|real}}</span></p>
            <md-icon md-svg-src="img/svg/bin.svg" 
                    ng-click="removerConta(contaDetalhada)" 
                    aria-label="Remover {{conta.nome}}" 
                    class="md-secondary md-hue-3"></md-icon>
        </div>
    </md-list-item>        
</md-list>