<h1 editable-text="conta.nome" buttons="no">{{conta.nome}}</h1>

<p>
<a href ng-click="mesNav.decrementaMes()" >Mês anterior</a>
<a href ng-click="mesNav.incrementaMes()" >Próximo mês</a>
</p> 


<table>
  <thead>
    <tr>
        <th>Data</th>
        <th>O que</th>
        <th>Quanto</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="lancamento in lancamentos">
        <td><a href="#/fatos?dia={{lancamento.fato.dia}}">{{lancamento.fato.dia|date:"dd/MM/yyyy - EEE"}}</a></td>
        <td><a href="#/fatos/{{lancamento.fato.id}}">{{lancamento.fato.descricao}}</a></td>
        <td ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}</td>
    </tr>
  </tbody>
</table>

<button ng-show="nomeOriginal != conta.nome" ng-click="alterarConta()">Salvar</button>


