<h1>{{fato.dia|data}} - {{fato.descricao}}</span></h1>


<table class="extrato">
  <col style="width:5%"/>
  <col>
  <col>
  <thead>
    <tr>
      <th/>
      <th>Onde</th>
      <th>Quanto</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3">Total: <span ng-class="utils.classDinheiro(total)">{{total|real}}</span><td>
    </tr>
  <tfoot>
  <tbody>
    <tr ng-repeat="lancamento in lancamentos" ng-click="">
        <td><img src="img/16/bin.png" ng-click="removerLancamento(lancamento)"/></td>
        <td><a href="#/contas/{{lancamento.conta.id}}" 
            title={{lancamento.conta.nome}}
            >{{lancamento.conta.nome}}</a></td>
        <td><a href="#/contas/{{lancamento.conta.id}}" 
            title={{lancamento.conta.nome}}
            ng-class="utils.classDinheiro(lancamento.valor)" 
            >{{lancamento.valor|real}}</a></td>
    </tr>
  </tbody>
</table>

<!--ul>
<li ng-repeat="lancamento in lancamentos">
    <span ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}</span> - <a href="#/contas/{{lancamento.conta.id}}">{{lancamento.conta.nome}}</a> 
</li>
    
</ul-->
