<h1>Fatos</h1>

<p>
<a href ng-click="mesNav.decrementaMes()" >Mês anterior</a>
<a href ng-click="mesNav.incrementaMes()" >Próximo mês</a>
</p> 

<p>Balanço de {{mesNav.mesStr}}: <span ng-class="utils.classDinheiro(total)">{{total|real}}</span></p>

<table>
    <tbody ng-repeat="fatosDoDia in fatosPorDia">
        <tr><th  colspan="2" style="padding-top:1em;text-align: left">{{fatosDoDia.fatos[0].dia|date:"dd/MM/yyyy - EEEE"}}
            <span ng-class="utils.classDinheiro(fatosDoDia.total)">{{fatosDoDia.total|real}}</span></th>
        </tr>
        <tr ng-repeat="fato in fatosDoDia.fatos">
            <td><img src="img/16/bin.png" ng-click="removerFato(fato)"/></td>
            <td><a href="#/fatos/{{fato.id}}">{{fato.desc}}</a> 
                <span ng-class="utils.classDinheiro(fato.total)">{{fato.total|real}}</span></td>
        </tr>
    </tbody>
</table>

