<h1 ng-show="!fato.descricao">Novo Fato</h1>
<h1 ng-show="fato.descricao">{{fato.dia|data}} - {{fato.descricao}}
<span ng-class="utils.classDinheiro(total)" ng-show="lancamentos.lenght != 0">{{total|real}}</span>
<span ng-show="fato.id">&#10004;</span>
</h1>

<p class="msg" ng-show="MsgService.hasMessage()">{{MsgService.message}} 
    <img src="img/16/cancel-circle.png" ng-click="MsgService.clearMessage()"></p>

<fieldset>
<legend>Fato</legend>
<input id="dia" type="date" ng-model="fato.dia" required>
<input ng-model="fato.descricao" id="descricao">
</fieldset>

<fieldset>
<legend>Lançamentos</legend>
<label for="conta">Conta:</label>
<select ng-model="lancamento.conta" id="conta" ng-options="conta.nome for conta in contas track by conta.id"></select>

<label for="valor">Valor:</label>
<input id="valor" ng-model="valor" ng-class="utils.classDinheiro(valor)" type="number" format="number">

<button ng-click="adicionarLancamento()" ng-disabled="!valor || !lancamento.conta" class="botaozinho">+</button>

</fieldset>

<table class="extrato" ng-show="lancamentos.length != 0">
  <thead>
    <th>Onde</th>
    <th>Quanto</th>
  </thead>

  <tbody>
    <tr ng-repeat="lancamento in lancamentos">
        <td><a href ng-click="editarLancamento(lancamento)">{{lancamento.conta.nome}}</a></td>
        <td ng-class="utils.classDinheiro(lancamento.valor)">{{lancamento.valor|real}}
           <span ng-show="lancamento.id">&#10004;</span>
        </td>
    </tr>
  </tbody>
</table>

<button ng-click="fato.$save(salvarLancamentos,MsgService.handleFail)" ng-disabled="lancamentos.length == 0">
<img src="img/16/plus.png">Salvar</button>
<ng-include
  src="'fatos/listaFatos.html'">
</ng-include>